@import "../../styles/breakpoints";
@import "../../styles/spacing";

.Container {
  grid-column: 1 / 5;
  grid-row: 5;

  @include sm {
    grid-column: 2 / 8;
  }

  @include min-md {
    grid-column: 5 / 12;
    grid-row: 2;
  }

  h2 {
    width: 100%;
    text-align: center;

    @include min-md {
      text-align: left;
      margin-top: 0;
    }
  }
}

.SkillsStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
